@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");

:root {
    background-color: rgb(29,26,26);
}

* {
    box-sizing: border-box;
}

body {
    margin:10px;
    border:8px;
    inset #80C090;
    font-size : 12px;
    font-family: 'Nova Square', cursive;
    border-style: dashed;
    padding: 10px;
} 

html {
    text-align: center;
}

.row {
    display: flex;
}

#cl {
    flex: 50%;
}

#cr {
    flex: 50%;
    float: right !important;
    vertical-align: top;
}
  
.time {
    position: absolute;
    right: 120px;
    font-size: large;
    font-weight: bold;
}


.content {
    /* padding-top: 150px; */
    padding: 5px;
    /* padding-left: 430px; */
    margin: auto;
    /* width: 500%; */
    display: inline-flex;
    align-items: center;
    /* outline: solid 3px black; */
    text-align: center;
    height: auto;
}

#mcq{
    /* padding-top: 150px; */
    padding: 5px;
    /* padding-left: 430px; */
    margin: auto;
    /* width: 500%; */
    display: inline-flex;
    align-items: center;
    /* outline: solid 3px black; */
    text-align: center;
    height: auto;
}

.start {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: fit-content;
    /* height: 100px; */
    padding-bottom: 20px;
    text-align: center;
    padding-top: 150px;
}

.start-button {
    display: block;
    cursor: pointer;
    color: white;
    padding: 10px 30px;
    margin: auto;
    letter-spacing: 2px;
    font-size: 16px;
    background-color: darkcyan;
    margin-top:20px;
}

button:hover {
    background-color: #EE6A49;
  }

.results {
    display: block;
    padding: 7px;
    padding: 5px;
    margin-top: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
}

