*{
    margin : 0px;
    padding : 0px;
    box-sizing : border-box; 
}
html {
    background-color:#282C34;
    height:100%;
    color: #FFFFFF;
}

body{
    margin:10px;
    background-color:#282C34;
    height:100%;
    border:8px 
    inset #80C090;
    font-size : 12px;
    font-family : sans-serif;
    border-style: dashed;
    padding:1%
}
.row {
    display: flex;
}
#cl {
    flex: 50%;

}
#cr {
    flex: 50%;
    float: right !important;
    vertical-align: top;
}
  
timer {
    text-align: right;
}
.start-container {
    padding-top: 150px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.start-quiz {
    padding: 5px;
    margin: auto;
    width: 50%;
    display: flex;
    /* justify-content: center; */
    outline: dashed 3px white;
    /* Center child horizontally*/
    display: flex;
    justify-content: left;
}
.start {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: fit-content;
    height: 100px;
    padding-bottom: 20px;
}
.start-button {
    display: block;
    cursor: pointer;
    color: white;
    /* padding-top: 50px; */
}
.start-button button:hover {
    background-color: #EE6A49;
  }
.results {
    display: block;
    padding: 7px;
    padding: 5px;
    margin-top: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
}
@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }