@import url("https://fonts.googleapis.com/css2?family=Nova+Square&display=swap");


*, *:before, *:after {
     box-sizing: border-box;
     font-size: 16px;    
     font-family: 'Nova Square', cursive;
}

body{
    height: 100vh;
    width: 100vw;
    inset: #80C090;
    display:flex;
    justify-content: center;
    align-items: center;

}

html {
    border-style: dashed; 
    background-color: white;
    text-align: center;
    /* text-align: center; */
    justify-content: center;
    align-items: center;

} 

.nav {
    overflow: hidden;
    background-color: #333;
    position: fixed; 
    top: 0; 
    width: 100%;
    /* float: top; */
    /* justify-content:space-evenly; */
}
  
.time {
    /* position: absolute; */
    right: 50px;
    font-size: large;
    font-weight: bold;
}

/* .container {
    border-radius: 5px;
    box-shadow: 0 0 10px 5px;
    width: 800px;
    max-width: 80%;
    height: 150px;
    align-items: center;
    outline: solid 3px black;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(white);
    padding: 20px;
    
} */

.ans-btns {
    display:grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 20px, 0;
}

.start-btn, .next-btn {
    font-size: 1.0rem;
    font-weight: bold;
    padding: 10px 20px;
}

.allBtn{
    border-radius: 5px;
    padding: 5px 10px;
}

/* #mcq{
    /* padding-top: 150px; */
    padding: 5px;
    /* padding-left: 430px; */
    margin: auto;
    /* width: 500%; */
    display: inline-flex;
    align-items: center;
    /* outline: solid 3px black; */
    text-align: center;
    height: auto; */
/* } */

.start {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    width: fit-content;
    /* height: 100px; */
    padding-bottom: 20px;
    text-align: center;
    padding-top: 150px;
}


button:hover {
    background-color: darkcyan;
    color:white;
}

.question {
    text-align: left;
    font-size: 25px;
}

.results {
    display: block;
    padding: 7px;
    padding: 5px;
    margin-top: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
}

